/* :root {
  --primary-color: #007bff;
  --background-color: #1a1a1a;
  --text-color: #ffffff;
  --hover-color: #0056b3;
  --transition-speed: 0.3s;
} */

:root {
  --primary-color: #007bff;
  --background-color: #ffffff;
  --text-color: #1a1a1a;
  --hover-color: #0056b3;
  --transition-speed: 0.3s;
}

/* Стили для светлой темы
body.light-theme {
  --background-color: #ffffff;
  --text-color: #1a1a1a;
  --hover-color: #007bff;
} */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color var(--transition-speed) ease,
    color var(--transition-speed) ease;
}

section {
  margin-bottom: 50px;
}

.page {
  min-height: calc(100vh - 92px);
}
