/* Основные стили */

.compaignsPage {
  padding: 20px;
  max-width: 1200px;
  margin: 80px auto 50px;
  position: relative;

  .compaigns-page-new {
    position: absolute;
    right: 0;
    top: 50px;
  }

  .compaignsPage-title {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-bottom: 40px;
  }

  /* Стили для ленты сборов */
  .fund-raiser-list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
