.profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #edf6f8;
  padding: 40px 20px;
  gap: 30px;
  min-height: calc(100vh - 145px);

  &__item {
    background-color: white;
    border-radius: 12px;
    padding: 10px 20px;
    height: fit-content;
  }
}

.profile {
  &__accInfo {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;

    button {
      margin: 20px 0;
    }
    &-name {
      font-size: 1.175rem;
      line-height: 2.25rem;
      font-weight: 600;
    }

    &-email {
      color: hsl(215.4 16.3% 46.9%);
      font-size: 14px;
    }
  }

  &:hover {
    display: grid;
  }

  &__list {
    display: grid;
    gap: 5px;
    padding: 0;
    list-style: none;
  }

  li {
    &:hover {
      background-color: rgb(237 246 248);
      color: rgb(54 170 205);
      border-radius: 12px;
    }
  }

  .active {
    background-color: rgb(237 246 248);
    color: rgb(54 170 205);
  }

  a {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease;
    padding: 5px 20px;
    border-radius: 12px;

    span {
      margin-right: 10px;
    }
  }
}

.support_sum {
  background-image: linear-gradient(135deg, #007bff, #4caf50);
  border: 1px solid #339982;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  margin: 20px 0;
}
