.dropDownMenu {
  position: absolute;
  top: 130%;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 190px;
  z-index: 1000;
  //   display: none;
  background-color: #fff;
  color: hsl(222.2 84% 4.9%);
  animation: slideDown 0.9s ease forwards;
  transform: translateY(-10px);
  opacity: 0;

  &__accInfo {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;

    &-name {
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 600;
    }

    &-email {
      color: hsl(215.4 16.3% 46.9%);
      font-size: 12px;
    }
  }

  &:hover {
    display: grid;
  }

  &__list {
    display: grid;

    padding: 0;
    list-style: none;
  }

  li {
    &:hover {
      opacity: 0.75;
      background-color: hsl(210 40% 96.1%);
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease;
    padding: 5px 20px;
    span {
      margin-right: 10px;
    }
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
