.resetPassworPage {
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  gap: 60px;

  &__inner {
    display: grid;
    place-items: center;
    gap: 1rem;
  }

  h1,
  p {
    text-align: center;
    margin: 5px 0;
  }

  h1 {
    font-weight: 600;
  }

  p {
    color: hsl(0 0% 45.1%);
  }
}
